.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: #e7a477ee;
}

.dialog img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.dialog a {
    text-decoration: none;
    padding-left: 7px;
}

.dialog {
    display: flex;
    align-items: center;
}

.messages {
    padding: 10px
}

.message {

}

.newDialog {
  margin-top: 50px;
}